.define_LP {
    display: flex;
    width: 100%;
    align-items: center;
}

.define_LP h1 {
    font-size: 1.563rem;
    margin: 0;
}

.add_LP {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.plus_B {
    width: 100%;
    padding: 10%;
}

#file-loader {
    display: none;
}

.new_image_loader {
    width: 140px;
    height: 140px;
    margin: 10px;
    border-radius: 30px;
}

.bar{
    width: 140px;
    height: 140px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #707070;
    margin: 10px;
}

.preview-loader{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
}

.define_LP h1 {
    font-size: 1.563rem;
    margin: 0;
}

.add_LP {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.plus_B {
    width: 100%;
    padding: 10%;
}

#file-loader-page {
    display: none;
}

.new_image_loader {
    width: 140px;
    height: 140px;
    margin: 10px;
    border-radius: 30px;
}

.bar{
    width: 140px;
    height: 140px;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #707070;
    margin: 10px;
}

.preview-loader{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
}

@media only screen and (max-width: 880px) {
    .define_LP h1 {
       font-size: 0.9rem;
    }
}

@media only screen and (max-width: 600px) {
    .add_LP{
        flex-direction: column-reverse;
    }
  }