.view-all {
    margin-top: 0;
}

.banner-title {
    background-color: #E5DFD3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px 50px 0px 0px;
    height: 50px;
}

.one-card {
    background-color: #F0F0F0;
    display: flex;
    padding: 15px;
    width: 100%;
    ;
    height: 100%;
    position: relative;
}

.banner-card {
    background-color: white;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-card h1 {
    color: #4E4E4E;
    font-size: 1.875rem;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.profile-card {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.all-cards {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

}

.nom-prénom-allview {
    font-size: 2.188rem;
    text-align: start;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    text-transform: uppercase;
    line-height: 40px;
}

.mdd {
    display: flex;
    justify-content: space-between;
    font-size: 1.563rem;
    font-family: 'Montserrat';
    color: #000000;
    opacity: 0.29;
    width: inherit;
}

.mdd a {
    display: flex;
    align-items: center;
}

.mdd a img {
    width: 20px;
    margin-right: 6px;
}

.test-img {
    width: 180px;
    border-radius: 50%;
    padding: 20px;
    padding-bottom: 0;
    padding-top: 0;
    height: 140px;
}

.img-nom-prenom {
    display: flex;
    align-items: center;
}

.QR-download {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mdd-d {
    display: flex;
    justify-content: space-between;
    font-size: 1.563rem;
    font-family: 'Montserrat';
    color: #000000;
    border-top: 3px solid #707070;
}

.mdd-d a {
    display: flex;
    align-items: center;
}

.mdd-d a img {
    width: 20px;
    margin-right: 6px;
}

.blanc-qr {
    width: 150px;
    height: 150px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.position-trait {
    width: 90%;
    overflow: hidden;
}

.position-trait img {
    width: inherit;
}

.select-card {
    opacity: 0;
    /* Le bouton est invisible */
    width: 70%;
    /* Le bouton prend la largeur de la div parente */
    height: 100%;
    /* Le bouton prend la hauteur de la div parente */
    position: absolute;
    top: 0;
    left: 0;
}