.accordion-button:not(.collapsed) {
    background-color: #E5DFD3;
    color: #4E4E4E
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button {
    background-color: #E5DFD3;
    font-size: 1.875rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.accordion-item {
    border: none;
}

.blanc {
    height: 10px;
    background-color: white;
}

.alignement {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 0;
}

@media only screen and (max-width: 880px) {
    .alignement {
        font-size: 1rem;
    }

}