.fade {
    z-index: 9999999;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.modal-backdrop.show {
    display: none !important;
}

.modal-dialog,
.modal-content {
    background-color: #403939;
    opacity: 0.94;
    border-radius: 20px;
}

.model-dialog {
    width: 80vw;
    height: 80VH;
}

.modal-content {
    height: 70vh;
    width: 70vw;
}

.modal-header {
    border-bottom: none;
    display: flex;
    justify-content: flex-end;
}

.modal-header .btn-close {
    width: 2%;

}

.modal-body {
    color: white;
    font-family: 'Montserrat';
    font-size: 1.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.modal-body img {
    width: 30px;
    height: 20px;
    margin-right: 10px;
}

.modal-body a {
    display: flex;
    align-items: center;
}

.modal-footer {
    border-top: none;
}

.lien-vcard {
    border: 1px solid #FAFAFA;
    text-transform: none;
    font-size: 1.1rem;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 50px;
    padding-left: 50px;
}

.texte-intro {
    text-align: center;
}

@media only screen and (min-width: 576px) {
    .modal-dialog {
        max-width: none;
        margin-right: 0;
        margin-left: 0;
    }
}