.SubmitButton{
    background-color: #FFBD29;
    color: white;
    border-radius: 20px;
    border: none;
    font-size: 3.125rem;
    font-family:'Montserrat', sans-serif;
    width: 90%;
}

.button-submit{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: center;
}