  /* Style du texte "View Card" */
  .view-card-text {
    position: absolute;
    top: -20px;
    background-color: #000;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0.9;
  }

